body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
    background-color: rgb(226, 255, 254);
}

h1 {
    font-size: 32px;
    color: green;
}
